---
layout: page
title: Firmware
---

{% for modem in site.data.firmware %}
<hr/>
<section>
    <h2>{{modem.modems.heading}}</h2>

    <h4>RFD SiK Beta</h4>
    {% for file in modem.modems..SIKB %}
    <address>
        <p><strong><a href="{{site.baseurl}}/Files/firmware/{{file.file}}">{{file.file}}<a/></strong></p>
    </address>
    {% endfor %}
    
    <h4>RFD SiK Compliant</h4>
    {% for file in modem.modems..SIKC %}
    <address>
        <p><strong><a href="{{site.baseurl}}/Files/firmware/{{file.file}}">{{file.file}}<a/></strong></p>
    </address>
    {% endfor %}
    
    <h4>RFD SiK</h4>
    {% for file in modem.modems..SIK %}
    <address>
        <p><strong><a href="{{site.baseurl}}/Files/firmware/{{file.file}}">{{file.file}}<a/></strong></p>
    </address>
    {% endfor %}
    
    <h4>RFD Asynchronous Mesh</h4>
    {% for file in modem.modems..Async %}
    <address>
        <p><strong><a href="{{site.baseurl}}/Files/firmware/{{file.file}}">{{file.file}}<a/></strong></p>
    </address>
    {% endfor %}
    
    <h4>RFD Multipoint SiK</h4>
    {% for file in modem.modems..MPSIK %}
    <address>
        <p><strong><a href="{{site.baseurl}}/Files/firmware/{{file.file}}">{{file.file}}<a/></strong></p>
    </address>
    {% endfor %}
</section>
{% endfor %}
